<div class="pomodoro-item">
	<header>
		<h1 ng-bind="pomodoro.name"></h1>
		<div class="little-options">
			<h4>
				<span class="glyphicon glyphicon-edit" ng-click="openPomodoroModal()"></span>
				<span class="glyphicon glyphicon-ok" ng-click="toggleValidation()"></span>
				<span class="glyphicon glyphicon-remove" ng-click="removePomodoro()"></span>
			</h4>
		</div>
	</header>
	<div class="comments">
		<div class="comment" ng-repeat="comment in pomodoro.comments" ng-bind="comment.content"></div>
	</div>
</div>
