<div class="pomodoro-item">
	<header>
		<h1 ng-bind="pomodoro.name"></h1>
		<div class="little-options">
			<h4>
				<span class="glyphicon glyphicon-play" ng-click="play()"></span>
				<span class="glyphicon glyphicon-edit" ng-click="openPomodoroModal()"></span>
				<span class="glyphicon glyphicon-ok" ng-click="toggleValidation()"></span>
				<span class="glyphicon glyphicon-remove" ng-click="removePomodoro()"></span>
			</h4>
		</div>
	</header>
	<div class="comments">
		<div class="comment" ng-bind="pomodoro.comment"></div>
	</div>
</div>
